{% extends "portal/base.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <table class="table">
    {{ form.as_table }}
    </table>
    <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

<p>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
  			<th scope="col">Token</th>
  			<th scope="col">Score</th>
  		</tr>
    </thead>
    <tbody>
      {% for i in response.res.receivers.activities %}
      <tr>
          		<td><a href="detail?token={{ i.a }}">{{ i.a }}</a></td>
          		<td>{{ i.c }}</td>
          	</tr>
      {% endfor %}
    </tbody>
  </table>
</p>

{% endblock content %}
